# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: .*/templates/(code|test)\.py
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black
        args: ["--line-length=88"]
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.15.0
#     hooks:
#     -   id: mypy
# -   repo: https://github.com/pycqa/isort
#     rev: 5.11.2
#     hooks:
#     -   id: isort
#         name: isort (python)
#         args: ["--profile", "black", "--filter-files"]
-   repo: https://github.com/pycqa/flake8
    rev: 7.1.2
    hooks:
    -   id: flake8
